.card-custom {
  padding: 0;
  border: none;
  background-color: $secondary-500;
  box-shadow: 0 0 18px rgba(68 68 68 / 9%);

  &__image-wrapper {
    position: relative;

    &--new {
      &::before {
        content: "New";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 66px;
        height: 24px;
        background-color: $primary-100;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-family: Poppins, sans-serif;
        font-weight: normal;
        font-size: 12px;
        color: $secondary-500;
      }
    }

    &--solid {
      &::before {
        content: "Solid";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Poppins, sans-serif;
        font-weight: bold;
        font-size: 50px;
        color: $secondary-500;
      }
    }
  }

  &__title {
    display: block;
    font-weight: normal;
    color: $primary-100;
    text-decoration: none;

    &:hover {
      color: $primary-100;
      text-decoration: underline;
    }
  }

  &__body {
    padding: 20px 20px 35px;

    &--solid {
      opacity: 0.5;
    }
  }

  &__main-info {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    font-weight: normal;
    font-size: 17px;
  }

  &__year {
    margin-right: 8px;
    font-weight: 400;
    color: $secondary-200;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 26px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: $secondary-200;
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    color: $primary-100;
  }

  @media (max-width: 1023px) {
    &__main-info,
    &__info {
      font-size: 11px;
    }

    &__price {
      font-size: 17px;
    }
  }
}
