.footer {
  background-color: $primary-100;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 191px;
  }

  &__messangers {
    justify-content: flex-end;
    gap: 24px;
  }
}
