.form {
  &__label {
    display: none;
  }

  &__input {
    display: block;
    padding: 15px 16px 19px;
    height: 54px;
    width: 100%;
    border: 1px solid $secondary-500;
    border-radius: 15px;
    background-color: $transparent;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $secondary-500;
    outline: none;

    &::placeholder {
      font-weight: normal;
      font-size: 15px;
      color: $secondary-500;
    }
  }

  &__button {
    @include button($secondary-500, $primary-100);

    display: block;
    width: 100%;
    height: 54px;
    border-color: $secondary-500;
    font-weight: normal;
    font-size: 15px;

    &:hover {
      border-color: $secondary-500;
    }
  }

  @media (max-width: 767px) {
    &__input {
      margin-bottom: 10px;
    }
  }
}
