.found {
  padding: 40px 0 46px;
  background-color: $primary-100;

  &__content {
    padding-right: 120px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: $primary-200;
  }

  &__description {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: $primary-200;
  }
}
