@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import "./utils/variables";
@import "./utils/mixins";
@import "./blocks/logo";
@import "./blocks/header";
@import "./blocks/navigation";
@import "./blocks/select";
@import "./blocks/cars-selection";
@import "./blocks/car-cards";
@import "./blocks/card";
@import "./blocks/found";
@import "./blocks/form";
@import "./blocks/questions";
@import "./blocks/question";
@import "./blocks/footer";

html {
  font-family: "Noto Sans Display", sans-serif;
}

h2 {
  font-family: Poppins, sans-serif;
}
