@mixin button($btn-color, $txt-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 56px;
  border: 2px solid $txt-color;
  border-radius: 15px;
  background-color: $btn-color;
  font-weight: 500;
  font-size: 20px;
  color: $txt-color;
  text-decoration: none;
  transition:
    background-color $transition-duration,
    color $transition-duration;

  &:hover {
    background-color: $txt-color;
    color: $btn-color;
  }

  &:active {
    background-color: $btn-color;
    color: $btn-color;
  }
}

@mixin section-title {
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-100;
}
