$transparent: transparent;
$primary-100: #000;
$primary-200: #f8f8f8;
$primary-300: #df4e3c;
$secondary-100: #aeaeae;
$secondary-200: #8d8d8d;
$secondary-300: #bdbdbd;
$secondary-400: #c4c4c4;
$secondary-500: #fff;
$car-cards-section-bgc: #e5e5e5;
$transition-duration: 0.3s;
